# Python cache
__pycache__/
**/__pycache__/**
**/__pycache__
*.pyc
*.pyo
.mypy_cache/
.ruff_cache/

# WLED build outputs
.pio/
.pioenvs/
.piolibdeps/

# Diagram generation temp
*.tmp

# OS
.DS_Store
Thumbs.db
**/err**.txt
**/out**.txt
**/render**.txt

